/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.clj-kondo
/.shadow-cljs
/.lsp
/.calva
/node_modules

/resources/public/js
public/js
public/css/styles.css