html {
    font-family: 'Reddit Mono', monospace;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}

/* Badge */
.badge {
    background-color: #584966;
    color: var(--text);
    border-radius: 6px;
    font-family: var(--body);
    font-weight: 600;
    font-size: .55rem;
    padding: 0.3em 0.6em 0.2em;
}

.badge__list {
    text-indent: 2rem;
    list-style: none;
    padding: 0;
}

.badge__list > li {
    margin-top: 10px;
}

.badge--item {
    border-radius: 4px;
    font-size: 0.7rem;
    margin-right: 5px;
    padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
    color: var(--text-link);
    text-decoration: none;
}

.badge__link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .badge__list {
        font-size: 0.9rem;
        text-indent: 0;
    }
}