@charset "utf-8";

// RUN
// sass --watch  src/mystyles.scss:public/css/mystyles.css

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.carousel {
    overflow: hidden;
}

// gruvbox color scheme: https://github.com/morhetz/gruvbox
// gruvbox primary colors

$gb-red: #cc241d;
$gb-green: #98971a;
$gb-yellow: #d79921;
$gb-blue: #458588;
$gb-purple: #b16286;
$gb-aqua: #689d6a;

// gruvbox dark specific
$gbd-bg: #282828;
$gbd-gray1: #a89984;
$gbd-gray2: #928374;

// gruvbox light specific
$gbl-bg: #fbf1c7;
$gbl-gray1: #7c6f64;
$gbl-gray2: #928374;

//$body-background-color: $gbl-bg;
//$box-background-color: $gbl-gray2;
$navbar-background-color: $gb-aqua;
$navbar-menu-background-color: $gb-aqua;

$primary: $gb-aqua;
$link: $gb-blue;
$info: $gb-purple;
$success: $gb-green;
$warning: $gb-yellow;
$danger: $gb-red;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-carousel/src/sass/index.sass"