@charset "utf-8";

// RUN
// sass --watch --no-source-map src/styles.scss:public/css/styles.css

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.carousel {
    overflow: hidden;
}

// gruvbox color scheme: https://github.com/morhetz/gruvbox
// gruvbox primary colors

$gb-red: #cc241d;
$gb-green: #98971a;
$gb-yellow: #d79921;
$gb-blue: #458588;
$gb-purple: #b16286;
$gb-aqua: #689d6a;
$gb-gray: #928374;

// gruvbox dark specific
$gbd-bg: #282828;
$gbd-bg1: #3c3836;
$gbd-bg2: #504945;
$gbd-bg3: #665c54;
//
$gbd-light-gray: #a89984;
$gbd-light-red: #fb4934;
$gbd-light-green: #b8bb26;
$gbd-light-yellow: #fabd2f;
$gbd-light-blue: #83a598;
$gbd-light-purple: #d3869b;
$gbd-light-aqua: #8ec07c;
$gbd-light-orange: #f38019;

// gruvbox light specific
$gbl-bg: #fbf1c7;
$gbl-bg1: #ebdbb2;
$gbl-bg2: #d5c4a1;
$gbl-bg3: #bdae93;
//
$gbl-light-gray: #7c6f64;
$gbl-light-red: #9d0006;
$gbl-light-green: #79740e;
$gbl-light-yellow: #b57614;
$gbl-light-blue: #076678;
$gbl-light-purple: #8f3f71;
$gbl-light-aqua: #427b58;
$gbl-light-orange: #af3a03;

// Dark Theme
$primary: $gbl-light-red;
h1 {
    color: $gbd-light-red;
}
h2 {
    color: $gbd-light-green;
}
h3 {
    color: $gbd-light-yellow;
}
h4 {
    color: $gbd-light-blue;
}
h5 {
    color: $gbd-light-purple;
}
h6 {
    color: $gbd-light-aqua;
}

a {
    color: $gbd-light-yellow;
}
a:visited {
    color: $gbd-light-orange;
}
a:hover {
    color: $gbd-light-orange;
}

$body-background-color: $gbd-bg;
$background: $gbd-bg1;
$footer-background-color: $background;
$button-background-color: $background;
$button-border-color: $gbd-bg2;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 10);

$title-color: $gbd-light-red;
$subtitle-color: $gbd-light-green;
$subtitle-strong-color: $text-strong;

$navbar-background-color: $gbd-bg1;
$navbar-item-color: $text;
$navbar-item-hover-color: $gb-red;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $gb-aqua;
$navbar-dropdown-arrow: $gb-purple;
$navbar-dropdown-border-top: 1px solid $navbar-dropdown-arrow;
$navbar-dropdown-background-color: $navbar-background-color;
$navbar-dropdown-item-hover-color: $navbar-item-hover-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $gb-aqua;

$button-color: $gb-aqua;
$button-hover-color: $gbd-light-red;
$button-focus: $gbd-light-orange;
$button-active-color: gbd-light-red;
$button-disabled-background-color: $gbd-bg2;

$box-color: $text;
$box-background-color: $gbd-bg1;
$box-shadow: none;


@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma-carousel/src/sass/index.sass";